*{
    padding: 0;
    margin: 0;
    font-family: 'Young Serif', serif;
}
.container{
    padding: 20px;
}
.section-one{
    background-color: black;
    color: white;
    height: 120px;
    padding-top: 20px;
    
}
.section-one__contact{
    text-decoration: none;
    background-color: orangered;
    color: white;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
    border-radius: 20px;
}
.section-one__name{
    font-size: 30px;
}
.section-one{
    padding-left: 20px;
    padding-bottom: 10px;
}
.section-one__role{
    padding-top: 5px;
}
.section-two,.section-three,.section-four,.section-five,.section-six{
    margin-top: 20px;
}
.section-two__desc,.section-three__desc,.section-four__desc,.section-five__desc,.section-six__desc{
    margin-top: 10px;
}
.section-five{
    background-color: black;
    color: white;
    padding: 20px;
}
.section-five__title a{
    color: skyblue;
}
.section-three{
    vertical-align: top;
    background-color: #6462fd;
    color: black;
    display: inline-block;
    padding: 20px;
    height: 200px;
    border-radius: 10px;
    
}
.section-four{
    vertical-align: top;
    background-color: #FE7517;
    color: black;
    padding: 20px;
    display: inline-block;
    height: 200px;
    border-radius: 10px;
}
.section-three li,.section-four li{
    list-style: none;
}
.section-one__Home{
    text-decoration: none;
    background-color: orangered;
    color: white;
    padding: 10px;
    display: inline-block;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.contactform__input,.contactform__textarea,.contactform__submit{
    margin-top: 20px;
}
.contactform__input{
    border: none;
    padding: 10px;
    border-bottom: solid black 1px;
}
.contactform__textarea{
    padding: 10px;
    border-bottom: solid black 1px;
}
.contactform__submit{
    border: none;
    padding: 10px;
    background-color: orangered;
    color: white;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.section-two__desc li{
    padding-left: 20px;
}
    
